#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

/* Use CSS to change all the color titles to have "font-weight: normal;" */
.color-title {
  font-weight: normal;
}

/* Use CSS (not HTML) to make all the images 200px heigh and 200px wide. */
img {
  height: 200px;
  width: 200px;
}
